extends ../_partials/layout

block nav
  +navigation()

block title
  title  Coronavirus Update - Temporarily Closed | Fast Lane Go Karting Stoke
  
block content
  section.black.virus
    .container
      h1.center Coronavirus COVID-19 Update
      .red-highlight.centered
      .virus__text
        p In line with the latest government guidance due to the COVID-19 outbreak we will be temporarily closed until we are further advised.
 
        p For any future booking enquiries please email #[a(href='mailto:track@fastlanekarting.co.uk') track@fastlanekarting.co.uk] as a re-open date is currently unknown but will be announced as soon as possible.
        
        p If you have a booking in the coming days or weeks it will unfortunately need to be postponed so we will be in touch with you to rearrange to an alternative date.
        
        p If you would like to rearrange via email then please include your name, booking date & time, and an alternative date and time for your booking. 
        
        p If you are unsure of a new date, don’t panic. We will place your booking on hold until such a time that you have a confirmed date. There are no time restrictions on this.
        
        p We will reply to all amendments and enquiries as soon as possible.
        
        p Please check back regularly for updates, or follow us on #[a(href='https://www.facebook.com/fastlanekartingindoor/') Facebook] for notifications.
        
        p We appreciate your understanding in these unprecedented times and look forward to welcoming you back on track soon!