extends ../_partials/layout

block nav
  +navigation('/offers')

block title
  title  Summer Holiday Offers | Fast Lane Go Karting Stoke

block description
  meta(name="description" content="Call 01782 250 450 or email enquiries@fastlanekarting.co.uk to book a go karting package. We're open from 10am until 10:30pm, 7 days a week.")

block dealSticker

block content
  
  section.black.race-packages.arrive-and-drive
    .container
      h1.center Summer Holiday Offers
      .red-highlight.centered
      p.center.race-packages__description Offers available 30th June - 8th September
      p.center.race-packages__description #[span.bold.red PLEASE NOTE:] All drivers require a Balaclava and Gloves for hygiene reasons. Feel free to bring your own, or we can supply them for £2.50 per item.


    .container.race-packages__price-list
      .content-block          
        h3 Junior and Family Open Karting (8yrs+)
        .red-highlight
        ul.race-packages__price-list--packages
          li
            div
              h3 40 lap practice 
              p 2 x 20 Laps (15 Minute) Sessions
              p Only £15.75 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (8-13)
            div
              span £31.50/driver
              p.sticker 10% Discount
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=10discount040laps2x20lapsages8yrssaving350pp' target='_blank') Book Now
          li
            div
              h3 50 lap practice 
              p 2 x 25 Laps (20 Minute) Sessions
              p Only £17.50 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (8-13)
            div
              span £35/driver
              p.sticker 25% Extra Laps
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=25extralaps050laps2x25lapsages8yrsincluding10extralaps' target='_blank') Book Now 
          li
            div
              h3 66 lap practice
              p 3 x 22 Laps (16 Minute) Sessions
              p Only £13.83 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (8-13)
            div
              span £41.50/driver
              p.sticker 10% Discount
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=10discount066laps3x22lapsages8yrssaving450pp' target='_blank') Book Now

      .content-block
        h3 Adult Open Karting (12yrs+)
        .red-highlight
        ul.race-packages__price-list--packages
          li
            div
              h3 40 lap practice
              p 2 x 20 Laps (15 Minute) Sessions
              p Only £15.75 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (12-13)
            div
              span £31.50/driver
              p.sticker 10% Discount
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=10discount040laps2x20lapsages12yrssaving350pp' target='_blank') Book Now
          li
            div
              h3 50 lap practice 
              p 2 x 25 Laps (17 Minute) Sessions
              p Only £17.50 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (12-13)
            div
              span £35/driver
              p.sticker 25% Extra Laps
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=25extralaps050laps2x25lapsages12yrsincluding10extralaps' target='_blank') Book Now
          li
            div
              h3 66 lap practice
              p 3 x 22 Laps (16 Minute) Sessions
              p Only £13.83 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (12-13)
            div
              span £41.50/driver
              p.sticker 10% Discount
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=10discount066laps3x22lapsages12yrssaving450pp' target='_blank') Book Now
          li
            div
              h3 84 lap practice
              p 3 x 28 Laps (20 Minute) Sessions
              p Only £15 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (12-13)
            div
              span £45/driver
              p.sticker 25% Extra Laps
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=25extralaps084laps3x28lapsages12yrsincluding18extralaps' target='_blank') Book Now
          li
            div
              h3 125 lap practice
              p 4 x 31/32 Laps (24 Minute) Sessions
              p Only £13.75 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+) only
            div
              span £55/driver
              p.sticker 25% Extra Laps
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=25extralaps125laps4x3132lapsages14yrsincluding25extralaps' target='_blank') Book Now