extends _partials/layout

block pageScripts
  script
    include ../../dist/js/header-video.js
  script
    include ../../dist/js/instagram.js
  script(src='/js/libs/instafeed.js' async defer onload="loadImages()")

block content
  .header-video
    video(src="/video/fast-lane-karting-header.mp4" poster="/video/fast-lane-karting-header-poster.jpg" preload loop muted playsinline)
    .header-video__controls
      .container
        .header-video__controls--play-pause
          img(id='play' src='/images/video-controls/play.svg' alt='Play Button')
          img(id='pause' src='/images/video-controls/pause.svg' alt='Pause Button')
        .header-video__controls--right
          .header-video__controls--right--audio
            img(id='muted' src='/images/video-controls/muted.svg' alt='Unmute Button')
            img(id='unmuted' src='/images/video-controls/unmuted.svg' alt='Mute Button')
          .header-video__controls--right--fullscreen
            img(id='fullscreen' src='/images/video-controls/fullscreen.svg' alt='Fullscreen Button')
  .header-video__refurb(href="/layout" target="_blank")
    .container 
      a(href="/layout" target="_blank") We have now undergone a multilevel track refurbishment. Please click here to view.

  section.black.main-title
    .container
      h1.center The midlands' #[span.red premiere] indoor karting experience
      //- h2.center Specialists in Corporate Entertainment and Hospitality
      div
        a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx') Book Online
        a.button.button__grey(href='/race-packages') Race Packages

  section.grey.category-cards
    .container
      .category-cards__card
        .category-cards__card--image
          img(src='/images/home-categories/race-packages.jpg' alt='Race Packages')
        .category-cards__card--text
          h2 Race Packages
          .red-highlight
          p The perfect choice for team building, stag/hen parties and group events! Pit your skill and endurance against each other with our selection of Grand Prix and Endurance race packages. Racing times range from 30 to 150 minutes with food provided on-site.
          a.button.button__primary(href='/race-packages') Book Online
      .category-cards__card
        .category-cards__card--image
          img(src='/images/home-categories/arrive-and-drive-summer.jpg' alt='Arrive & Drive')
          .sticker.sticker__summer Summer Holiday Offers now active!
        .category-cards__card--text
          h2 Arrive & Drive
          .red-highlight
          p There's no need to book for small groups - turn up at any time and drive for up to 100 laps! Drivers aged 12 years or older are welcome anytime as long as the track is available. High performance 200cc karts are available for ages 14 and over.
          a.button.button__primary(href='/arrive-and-drive') Book Online
      .category-cards__card
        .category-cards__card--image
          img(src='/images/home-categories/juniors-and-parties.jpg' alt='Juniors & Parties')
        .category-cards__card--text
          h2 Juniors & Parties
          .red-highlight
          p Go-karting makes a great birthday party or family event for up to 8 people. Our junior packages include up to one hour of track time per driver, a hot meal and drinks in our private corporate lounge overlooking the track, plus medals and a trophy for the birthday host.
          a.button.button__primary(href='/juniors-and-parties') Book Online
          
  section.black.corporate-events
    .container.center
      h2 Corporate & Group Events
      .red-highlight.centered
      p Corporate Hospitality at it’s finest.
      p When looking to book your next Event, look no further. Hosting your Corporate or Group Event at Fast Lane Karting will ensure a safe, friendly and exhilarating night's racing with on-site catering and Corporate Lounge.
      p.bold Run by professional people who care.
      a.button.button__primary(href='/corporate-events') View Prices

