extends ../_partials/layout

block title
  title  Newsletter Success | Fast Lane Go Karting Stoke

block content
  section.black.race-packages
    .container
      h1.center Success!
      .red-highlight.centered
      h4.center.race-packages__description Thank you for signing up to the Fast Lane Karting newsletter.
