extends ../_partials/layout

block nav
  +navigation('/race-packages')

block title
  title  Race Packages | Fast Lane Go Karting Stoke

block description
  meta(name="description" content="Our Endurance and Grand Prix racing packages are perfect for stag dos, hen parties and team building events. Call 01782 250 450 or email track@fastlanekarting.co.uk to book a karting package. We're open from 10am until 10:30pm, 7 days a week.")

block content
  section.black.race-packages
    .container
      h1.center Race Packages
      .red-highlight.centered
      p.center.race-packages__description #[span.bold.red PLEASE NOTE:] All drivers require a Balaclava and Gloves for hygiene reasons. Feel free to bring your own, or we can supply them for £2.00 per item.

    .container.race-packages__price-list
    
      .content-block
        h2 Grand Prix Events
        .red-highlight
        p This event is set for medium/large groups intent on a good night's racing, and offers the ultimate karting experience. Groups will have exclusive use of the track for the duration of the event.
        p Grand Prix heats allow every driver to start from different positions in the grid, positions are all worked out by our computer so that it's as fair as possible across the event.      

        p.no-margin.bold All Grand Prix Events Include:
        ul.race-packages__price-list--includes
          li Trophies for 1st, 2nd and 3rd place
          li Bottle of bubbly for the winner
        ul.race-packages__price-list--packages
          li
            div
              h3 Grand Prix
              p 4 Lap Practice Session
              p 6 x 6 Lap Heats Per Driver
              p 8 Lap Final Race For Top 8 Drivers
            div
              span £40 per driver
              span 13+ drivers
              a(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=grandprix40driver' target='_blank') Book Now
          li
            div
              h3 Ultimate Super Grand Prix
              p 5 Lap Practice Session
              p 6 x 6 Lap Heats Per Driver
              p 8 Lap Semi Final For Top 16 Drivers
              p 10 Lap Grand Final For Top  Drivers
            div
              span £45 per driver
              span 13+ drivers
              a(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=supergrandprix45driver' target='_blank') Book Now

      .content-block
        h2 Team Challenge Events
        .red-highlight
        p All the thrills of our Individual events only in team format. Bring tactics into play with driver changes and pit stops at the best possible times and your team may just get the win.
        ul.race-packages__price-list--packages
          li
            div
              h3 Team Challenge 90
              p 30 Minute combined Practice & Qualifying Session
              p 60 Minute Non-Stop Race with Driver Changes Throughout
            div
              span £100 per Team
              span 2/3 Drivers per Team
              a(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=endurance090teamchallenge23drivers100team' target='_blank') Book Now
          li
            div
              h3 Team Challenge 120
              p 30 Minute combined Practice & Qualifying Session
              p 90 Minute Non-Stop Race with Driver Changes Throughout
            div
              span £125 per Team
              span 3 Drivers per Team
              a(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=endurance120teamchallenge3drivers125team' target='_blank') Book Now
          li
            div
              h3 Team Challenge 150
              p 30 Minute combined Practice & Qualifying Session
              p 120 Minute Non-Stop Race with Driver Changes Throughout
            div
              span £150 per Team
              span 3/4 Drivers per Team
              a(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=endurance150teamchallenge34drivers150team' target='_blank') Book Now
              
      .content-block
        h2 Endurance Events
        .red-highlight
        p Endurance racing is a fantastic team building or stag & hen party event. It is a multi lap event which can be run as individuals or teams. These events are run on our 200cc Sodi SR4 karts. They start with the Dash 30 minute Race Event going up to the 60 minute Super Challenge race for individuals, or for the Team Challenge Races we have 90 (1.5 Hours) - 150 Minute (2.5 Hours) Events.

        p.no-margin.bold All Endurance Events Include:
        ul.race-packages__price-list--includes
          li Use of the Corporate racewear
          li 15 minute combined practice/qualifying session
          li Races of either 15 minutes, 2 x 15 minutes, or 3 x 15 minutes
          li Full race report including overall results and individual reports 
          li Trophies for 1st, 2nd and 3rd place 
        ul.race-packages__price-list--packages
          li
            div
              h3 Dash 30
              p 15 Minute Practice/Qualifying Session
              p 15 Minute Break to Discuss and Hone your Racing Lines
              p 15 Minute Practice/Qualifying Session
            div
              span £35.00 per driver
              span 8-10 drivers
              a(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=endurance030dash35driver' target='_blank') Book Now
          li
            div
              h3 Challenge 45
              p 15 Minute Practice/Qualifying Session
              p 15 Minute Break
              p 2 x 15 Minute Races with 15 Minute Breaks between
            div
              span £45.00 per driver
              span 8-10 drivers
              a(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=endurance045challenge45driver' target='_blank') Book Now
          li
            div
              h3 Super Challenge 60
              p 15 Minute Practice/Qualifying Session
              p 15 Minute Break
              p 3 x 15 Minute Races with 15 Minute Breaks between
            div
              span £55.00 per driver
              span 8-10 drivers
              a(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=endurance060superchallenge55driver' target='_blank') Book Now
              