extends ../_partials/layout

block nav
  +navigation('/arrive-and-drive')

block title
  title  Arrive & Drive Sessions | Fast Lane Go Karting Stoke

block description
  meta(name="description" content="There's no need to book - our Arrive & Drive sessions allow you to hone your skills at any time. Call 01782 250 450 or email track@fastlanekarting.co.uk to book a go karting package. We're open from 10am until 10:30pm, 7 days a week.")

block content
  .sticker.sticker__summer 
    a(href='/offers') Father's Day Deals now active
  
  section.black.race-packages.arrive-and-drive
    .container
      h1.center Arrive & Drive
      .red-highlight.centered
      .arrive-and-drive__description
        div
          p Options available from £22 per driver.
          p Arrive and Drive is for you to come and hone your skills in the Practice Lap Sessions. We can run children as low as 8 years old in the mid-week off peak times between 10.00am – 6.00pm Monday – Friday, and at 11:00am on Sundays.
          p For drivers aged 12yrs+, you can go on the track at anytime as long as it is available but please book to avoid disappointment.
          p Time limits apply during our peak times and busy periods.
        div
          p We have #[span.bold Junior Karting] for 8 – 12 year olds Saturday mornings at 10.00am or during midweek from 10.00am - 6:00pm. This is purely for this peer group, so please book in advance.
          p #[span.bold.red PLEASE NOTE:] All drivers require a Balaclava and Gloves for hygiene reasons. Feel free to bring your own, or we can supply them for £2.50 per item.
          p Standard 160cc adult karts are available for £5 less at selected times for 14yrs+.


    .container.race-packages__price-list
      .content-block          
        h3 Junior and Family Open Karting (8yrs+)
        .red-highlight
        ul.race-packages__price-list--packages
          li
            div
              h3 20 lap practice
              p 20 Laps (15 Minute) Non-Stop Session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (8-13)
            div
              span £22/driver
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=juniorandfamilieskarting020laps' target='_blank') Book Now
          li
            div
              h3 40 lap practice 
              p 2 x 20 Laps (15 Minute) Sessions
              p Only £17.50 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (8-13)

            div
              span £35/driver
              p.sticker Popular
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=juniorandfamilieskarting040laps2x20laps' target='_blank') Book Now
          li
            div
              h3 66 lap practice
              p 3 x 22 Laps (16 Minute) Sessions
              p Midweek Only
              p Only £15 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (8-13)
            div
              span £45/driver
              p.sticker Best Value
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=juniorandfamilieskarting066laps3x22laps' target='_blank') Book Now

      .content-block
        h3 Adult Open Karting (12yrs+)
        .red-highlight
        ul.race-packages__price-list--packages
          li
            div
              h3 20 lap practice
              p 20 Laps (15 Minute) Non-Stop Session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (12-13)
            div
              span £22/driver
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=practice020lap' target='_blank') Book Now   
          li
            div
              h3 40 lap practice
              p 2 x 20 Laps (15 Minute) Sessions
              p Only £17.50 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (12-13)
            div
              span £35/driver
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=practice040lap2x20laps' target='_blank') Book Now
              
          li
            div
              h3 66 lap practice
              p 3 x 22 Laps (16 Minute) Sessions
              p Only £15 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+), Junior Racer (12-13)
            div
              span £45/driver
              p.sticker Popular
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=practice066lap3x22laps' target='_blank') Book Now
              
          li
            div
              h3 100 lap practice
              p 4 x 25 Laps (15 Minute) Sessions
              p Only £13.75 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] SR4 200cc (14+) only
            div
              span £55/driver
              p.sticker Best Value
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=practice100lap4x25laps200cconly' target='_blank') Book Now

      .content-block
        h3 Weekend Junior Open Karting (8 – 12yrs)
        .red-highlight
        ul.race-packages__price-list--packages
          li
            div
              h3 20 lap practice
              p 20 Laps (15 Minute) Non-Stop Session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] Junior Racer only
            div
              span £22/driver
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=juniorkartingweekend10am11am020laps' target='_blank') Book Now
          li
            div
              h3 40 lap practice
              p 2 x 20 Laps (15 Minute) Sessions
              p Only £17.50 per session
              .race-packages__price-list--packages--carts 
                p #[span Karts:] Junior Racer only
            div
              span £35/driver
              p.sticker Popular
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=juniorkartingweekend10am11am040laps2x20laps' target='_blank') Book Now