extends ../_partials/layout

block nav
  +navigation('/arrive-and-drive')

block title
  title  Arrive & Drive Sessions | Fast Lane Go Karting Stoke

block description
  meta(name="description" content="There's no need to book - our Arrive & Drive sessions allow you to hone your skills at any time. Call 01782 250 450 or email track@fastlanekarting.co.uk to book a go karting package. We're open from 10am until 10:30pm, 7 days a week.")

block content
  section.black.race-packages.arrive-and-drive
    .container
      h1.center Arrive & Drive
      .red-highlight.centered
      .arrive-and-drive__description
        div
          p Options available from £15 per driver*
          p Arrive and Drive is for you to come and hone your skills in the Practice Lap Sessions. We can run children as low as 8 years old in the mid-week off peak times between 10.00am – 6.00pm, Monday – Friday. 
          p For drivers 12 plus you can go on the track at anytime as long as it is available but please book to avoid disappointment.
          p Time limits apply during our peak times and busy periods.
        div
          p We have #[span.bold Junior Karting] for 8 – 12 year olds Saturday mornings at 10.00am or during midweek from 10.00am. This is purely for this peer group, so please book in advance.
          p #[span.bold.red PLEASE NOTE:] All drivers require a Balaclava and Gloves for hygiene reasons. Feel free to bring your own, or we can supply them for £2.00 per item.
          p Standard 160cc adult karts are available for £5 less at selected times for 14yrs+.


    .container.split-container
      .split
        .race-packages__price-list.full-width
          .content-block          
            h3 Junior and Family Open Karting
            .red-highlight
            ul.race-packages__price-list--packages
              li
                div
                  h3 20 lap practice
                  p 20 Laps (15 Minute) Non-Stop Session
                div
                  span £20/driver
                  span Junior Racer & Adult SR4
              li
                div
                  h3 40 lap practice
                  p 2 x 20 Laps (15 Minute) Sessions
                div
                  span £30/driver
                  span Junior Racer & Adult SR4
              li
                div
                  h3 60 lap practice
                  p 3 x 20 Laps (15 Minute) Sessions
                  p Midweek Only
                div
                  span £35/driver
                  span Junior Racer & Adult SR4

      .split
        .race-packages__price-list.full-width
          .content-block
            h3 Adult Open Karting
            .red-highlight
            ul.race-packages__price-list--packages
              li
                div
                  h3 20 lap practice
                  p 20 Laps (15 Minute) Non-Stop Session
                div
                  span £20/driver
                  span Adult SR4 200cc
              li
                div
                  h3 40 lap practice
                  p 2 x 20 Laps (15 Minute) Sessions
                div
                  span £30/driver
                  span Adult SR4 200cc
              li
                div
                  h3 60 lap practice
                  p 3 x 20 Laps (15 Minute) Sessions
                div
                  span £35/driver
                  span Adult SR4 200cc
              li
                div
                  h3 80 lap practice
                  p 4 x 20 Laps (15 Minute) Sessions
                div
                  span £45/driver
                  span Adult SR4 200cc

            p Standard 160cc adult karts are available for £5 less at selected times for 14yrs+.