extends ../_partials/layout

block nav
  +navigation('/corporate-events')

block title
  title Corporate Event Packages | Fast Lane Go-Karting Stoke

block description
  meta(name="description" content="If you’re planning a Corporate Event or Team-Building activity, it can be hard to know what to do! At Fast Lane all of our Corporate Events are run on the 200cc karts so you know your Customer or Staff are getting the best. Call 01782 250 450 or email track@fastlanekarting.co.uk to book a corporate karting package.")

block content

  +coronavirus
  
  section.black.race-packages
    .container
      h1.center Corporate Events
      .red-highlight.centered
      p.center.race-packages__description If you’re planning a Corporate Event or Team-Building activity, it can be hard to know what to do! At Fast Lane all of our Corporate Events are run on the 200cc karts which are changed regularly so you know your Customers or Staff are getting the best.
      p.center.race-packages__description #[span.bold.red PLEASE NOTE:] All drivers require a Balaclava and Gloves for hygiene reasons. Feel free to bring your own, or we can supply them for £2.00 per item.

    .container.race-packages__price-list
      .content-block
        h2 Corporate Grand Prix Events
        .red-highlight        
        p Corporate Hospitality at it’s finest.
        p Our corporate Grand Prix offers the ultimate high-octane team-building experience, igniting competition and pitting your team head-to-head in a friendly environment. With access to catering and our corporate boardroom, Fast Lane is the perfect venue for your next corporate event. 
        p Groups will have exclusive use of the track for the duration of the event. If you would like exclusive use of the facility and corporate room then #[a(href='/contact' target='_blank') Call us today] to find out how we can cater for your company. 
        p.no-margin.bold All Grand Prix Events Include:
        ul.race-packages__price-list--includes
          li Trophies for 1st, 2nd and 3rd place
          li Bottle of bubbly for the winner
        ul.race-packages__price-list--packages
          li
            div
              h3 Grand Prix
              p 6 Lap Practice Session
              p 4 x 8 Lap Heats
              p 8 Lap Semi-Final
              p 10 Lap Final Race For Top 8 Drivers
            div
              span £45/driver
              span 16+ drivers
          li
            div
              h3 Super Prix
              p 8 Lap Practice Session
              p 4 x 10 Lap Heats
              p 10 Lap Semi-Final
              p 12 Lap Final For Top 16 Drivers
            div
              span £50/driver
              span 16+ drivers
        p Corporate bookings are subject to VAT at the current rate. #[a(href='/contact' target='_blank') Call us today] to book a corporate event.
              
      .content-block
        h2 Bespoke Corporate Packages
        .red-highlight
        p Our bespoke karting events are tailored to companies looking for the ultimate team-building experience.
        p.no-margin.bold Our Corporate Facilities Include:
        ul.race-packages__price-list--includes
          li Catering &amp; buffet options
          li Bottle of Moet for the winner
          li Trophies for 1st, 2nd and 3rd place
          li Boardroom positioned over the track
          li Support for large groups of 30+ drivers
          li Exclusive use of the facilities
        br
        p #[a(href='/contact' target='_blank') Call us today] to find out how we can cater for your event.