extends ../_partials/layout

block nav
  +navigation('/corporate-events')

block title
  title Corporate Event Packages | Fast Lane Go Karting Stoke

block description
  meta(name="description" content="If you’re planning a Corporate Event or Team-Building activity, it can be hard to know what to do! At Fast Lane all of our Corporate Events are run on the 200cc karts so you know your Customer or Staff are getting the best. Call 01782 250 450 or email track@fastlanekarting.co.uk to book a corporate karting package.")

block content
  section.black.race-packages
    .container
      h1.center Corporate Events
      .red-highlight.centered
      p.center.race-packages__description If you’re planning a Corporate Event or Team-Building activity, it can be hard to know what to do! At Fastlane all of our Corporate Events are run on the 200cc karts which are changed regularly so you know your Customers or Staff are getting the best.
      p.center.race-packages__description #[span.bold.red PLEASE NOTE:] All drivers require a Balacalava for hygeine reasons. Feel free to bring your own, or we can supply them for £1.50 each.

    .container.race-packages__price-list
      .content-block
        h2 Grand Prix Events
        .red-highlight
        p This event is set for small to medium corporate groups intent on a good nights’ racing, and offers the ultimate karting experience. Groups will have exclusive use of the facilities for the duration of the event.
        p Grand Prix heat stages allow every driver to start one race from each position in the grid.
        p.no-margin.bold All Grand Prix Events Include:
        ul.race-packages__price-list--includes
          li Trophies for 1st, 2nd and 3rd place 
          li Bottle of bubbly for the winner
        ul.race-packages__price-list--packages
          li
            div
              h3 Grand Prix Sprint
              p 4 Lap Practice Session
              p 8 x 4 Lap Heats
              p 4 Lap Semi-Final
              p 8 Lap Final Race For Top 8 Drivers
            div
              span £795
              span 12-16 drivers
          li
            div
              h3 Grand Prix Max
              p 5 Lap Practice Session
              p 8 x 5 Lap Heats
              p 6 Lap Semi-Final
              p 8 Lap Final Race For Top 16 Drivers
            div
              span £995
              span 17-21 drivers
              
      .content-block
        h2 Corporate Race Packages
        .red-highlight
        p These events are set for medium/large groups intent on a good nights’ racing, and offer the ultimate karting experience. Groups will have exclusive use of the facilities for the duration of the event.
        p.no-margin.bold All Corporate Race Packages Include:
        ul.race-packages__price-list--includes
          li Trophies for 1st, 2nd and 3rd place 
          li Bottle of Moet for the winner
        br
        p Additional food and drinks can be added to any package.
        ul.race-packages__price-list--packages
          li
            div
              h3 Bronze Package
              p 5 Lap Practice Session
              p 8 x 5 Lap Heats Per Driver
              p 6 Lap Semi-Final
              p 8 Lap Final Race For Top 8 Drivers
            div
              span £1250
              span 22-26 drivers
          li
            div
              h3 Silver Package
              p 5 Lap Practice Session
              p 8 x 6 Lap Heats Per Driver
              p 6 Lap Semi Final
              p 8 Lap Grand Final For Top 8 Drivers
              p 12 Months Advertising At Fast Lane
            div
              span £1500
              span 25-30 drivers
          li
            div
              h3 Gold Package
              p 5 Lap Practice Session
              p 8 x 6 Lap Heats Per Driver
              p 8 Lap Semi Final
              p 10 Lap Split Grand Finals For Top 16 Drivers
              p 12 Months Advertising At Fast Lane
              p Finger Buffet
            div
              span £2000
              span 25-35 drivers