extends ../_partials/layout

block nav
  +navigation()

block title
  title  Terms and Conditions | Fast Lane Go Karting Stoke
  
block content
  section.black.virus
    .container
      h1.center Terms and Conditions
      .red-highlight.centered
      .virus__text
        ol 
          li A phone call enquiry or temporary booking does not form a binding contract until payment is received and Fast Lane Karting confirms the booking.
          li Confirmation of the booking by Fast Lane Karting shall create a binding contract between the person named as the organiser and Fast Lane Karting subject to the terms and conditions set out below
          li No variation of these terms and conditions shall be binding on Fast Lane Karting unless in writing and signed by a Director of Fast Lane Karting. No relaxation or indulgence which Fast Lane Karting may from time to time extend to the Organiser shall in any way prejudice or act as a waiver of Fast Lane Karting rights hereunder. 

          h3.centered Payment
          .red-highlight.centered 
          li A £10 per person deposit must accompany all karting bookings.  
          li Corporate bookings are subject to VAT at the current rate. 
          li Any deposit received is non-refundable. 
          li All bookings must be paid in full on arrival. 
          li The Organiser is liable for the full race fees for the use of the circuit for the number of drivers booked, even if fewer drivers attend. 

          h3.centered Cancellation
          .red-highlight.centered
          li If the booking is cancelled by the Organiser less than 48 hours prior to the event, the full race fees are payable.
          li Race fees will not be refunded to any driver because that driver fails to attend or is withdrawn from the racing for any reason. 

          h3.centered Drivers
          .red-highlight.centered
          li Drivers must not consume alcohol for at least 12 hours before the event.
          li The Circuit’s management reserve the right to refuse admission and/or to bar drivers from the track for any reason whatsoever in its sole discretion. Any person considered by the Circuit’s management to be under the influence of alcohol or medication will not be allowed to race. 

          h3.centered Circuit Exclusions
          .red-highlight.centered
          li All drivers racing in our “Senior/Adult” category must be 14 years of age or older. Drivers racing in our “Junior/Child” category must be ages 8-13 years and a guideline minimum height of 1.32 meters. Some children who reach this minimum height may not be eligible to drive if they fail the kart fitting.
          li Drivers under the age of 16 must be accompanied by an adult at all times. 
          li If you are unsure about any driver’s suitability due to weight or height please contact Fast Lane Karting for clarification in good time before the event. We also must make drivers aware that open toe shoes or sandals will result in refusal of entry to the circuit. 
          li Adults and children are not permitted on track at the same time unless they are from a like minded group. This is at the sole discretion of the management team. 
          li Our Karting packages are advertised as laps but do have maximum run times applied to prevent delays to later bookings. It is unusual that they are enforced. 20/25 lap Open Karting Sessions take 12.5 minutes for average drivers. After 15 minutes of track time, sessions may be brought to an end – even if all laps haven’t been completed. This is usually when extended delays occur from very slow drivers or repeated stoppages. 
          li As karting is a motorsport where petrol engine karts are used there will be levels of exhaust emissions present within the building. These levels are monitored, controlled and are well within government guidelines. A spectator room is available for younger children and pregnant spectators when not in use for other bookings.
          
          h3.centered Late Arrivals & No Shows
          .red-highlight.centered
          li Bookings and Vouchers are transferable at the discretion of the Circuit but remain non-refundable. Vouchers cannot be refunded, re-booked or re-used for drivers who fail to attend. 
          li For insurance reasons, drivers arriving after the safety briefing has commenced are not allowed to race until they have watched the safety briefing in full afterwards. If by that time the session has already commenced on circuit, they shall be allowed take part in the remainder of the session and will not receive any refund.
          li Where an exclusive event is delayed due to late arrivals, the Circuit’s management may in their sole discretion and on request of the Organiser delay the safety briefing. In such case, the event will be shortened to make up for the time lost. 

          h3.centered Force Majeure and Limitation
          .red-highlight.centered
          li Where the event is prevented, frustrated or delayed due to force majeure (including but not limited to riot, strikes, natural catastrophe, power failure, fire or accident to plant or machinery) or any other cause beyond its control, Fast Lane Kartings liability shall be limited to refunding or (at Fast Lane Kartings option) re-scheduling the event at a future date convenient to all parties. Delays caused by accidents or poor driving on track will not be refunded or re-scheduled.
          li Fast Lane Karting shall not be under any liability whatsoever for direct losses, loss of profits, indirect losses or consequential losses of any type caused directly or indirectly by Fast Lane Karting, its sub-contractors, servants, agents or employees (other than liability by Statute that cannot be avoided) and its maximum liability shall in all cases be limited to the total amount of money paid for the event. 
          li Notwithstanding the generality of the above, please note that all karting events are live events and may overrun due to unforeseen delays. Any quoted “End Time” is a pre-event estimate, for guidance only.