extends ../_partials/layout

block title
  title  Newsletter Error | Fast Lane Go Karting Stoke

block content
  section.black.race-packages
    .container
      h1.center Error
      .red-highlight.centered
      h4.center.race-packages__description Sorry, there was an error when signing up to the newsletter. Please try again later or give us a call on 01782 250 450.
