.button, button
  font-size 1.4rem
  line-height 1.2
  text-transform uppercase
  font-weight 900
  display inline-block
  color richBlack
  padding 1.25rem 2.25rem
  box-sizing content-box
  margin 0
  border-radius 100px
  border none

  &:hover
    text-decoration none
    color white
    cursor pointer

  &__primary
    background primaryColorGradient
    color white

    &:hover
      background mainGreen
      color white

  &__grey
    background midGrey
    color white

    &:hover
      background lightGrey
      color white