.button, button
  font-size 1.4rem
  line-height 1.2
  text-transform uppercase
  font-weight 900
  display inline-block
  color richBlack
  padding 1.25rem 2.25rem
  box-sizing border-box
  margin 0
  border 1px solid inside primaryColor
  border-radius 5px
  overflow hidden
  max-width 100%
  text-align center

  &:hover
    text-decoration none
    color white
    cursor pointer

  &__primary
    background primaryColorGradient
    color white

    &:hover
      background primaryColor
      color white
      border 1px solid inside primaryColorAccent

  &__grey
    background midGrey
    color white
    border-color lightGrey

    &:hover
      background lightGrey
      color white