@font-face {
    font-family 'BigNoodleTitling'
    src url('/fonts/BigNoodleTitling.woff2') format('woff2'),
        url('/fonts/BigNoodleTitling.woff') format('woff')
    font-weight normal
    font-style normal
    font-display fallback
}