.container
  width 100%
  box-sizing border-box
  max-width breakpointLarge
  margin 0 auto
  padding 0 containerPadding
  position relative

.row, section
  width 100%
  clear both

section
  padding 4rem 0

  &.black
    background richBlack 
    color white

  &.grey
    background offWhite

  &.dark-grey
    background darkGrey
    color white

.content-block  
  background white
  border 1px solid primaryColor 
  padding 3rem 3rem 2rem 3rem
  margin-bottom 4rem

.red-highlight
  background primaryColor
  height 2px
  width 33px
  margin 0 0 1.75rem 0

.no-margin
  margin 0 !important

.no-padding
  padding 0 !important

.centered
  margin 0 auto
  text-align center

.center-content
  display flex
  flex-direction column
  align-items center
  justify-content center
  text-align center

.space-between
  display flex
  justify-content space-between
  align-items center
  flex-wrap wrap
  width 100%

  &-group
    display flex
    align-items center

.split
  width calc(50% - containerPadding)

  &-3
    width calc(33.333% - containerPadding)

  &-4
    width calc(25% - containerPadding)

  &-container
    display flex
    justify-content space-between
    flex-wrap wrap

@media(max-width: breakpointSmall)

  .container
    padding 0 (containerPadding / 2)

  .split
    width 100%

  .hide-mobile
    display none !important