breakpointLarge = 1280px
breakpointMedium = 1023px
breakpointSmall = 767px
breakpointXSmall = 360px

containerPadding = 3rem

sansSerif = Arial, Helvetica, sans-serif

primaryColor = #EE2F34
primaryColorAccent = #BB2024
primaryColorGradient = linear-gradient(to bottom, primaryColor 0%, primaryColorAccent 100%)
summerDealsGradient = linear-gradient(to bottom, #ed582e 0%, #a72523 100%)
mainGreen = green

linkColor = #EE2F34
linkColorAccent = #BB2024

richBlack = #111
darkGrey = #333
midGrey = #666
lightGrey = #8F8F8F
offWhiteBorder = #D1D1D1
offWhite = #E5E5E5

// font = "Font", Helvetica, Arial, sans-serif