mixin amp
  section.amp
    .container
      - const year = new Date().getFullYear()
      p.no-margin &copy; #{year} Fast Lane Karting Limited
      a(href='https://amp.studio' target='_blank')
        p.no-margin.hide-mobile Website by
        img(src='/images/logos/amp-logo.svg')