mixin coronavirus 
  section.dark-grey.coronavirus
    .container
      p.center As stated in step 3 of the governments roadmap out of lockdown:
      p.center Please be aware that until 21st June at the earliest, any groups larger than 6 drivers will need be split into groups of 6 or less on arrival, seated, briefed and suited separately, and must remain separated for the duration of your visit whilst not on the circuit. This however will not impact the racing and the sessions/events can run as per normal whilst on track. We thank you for your understanding in the these difficult times.