mixin footer
  footer.footer
    section.dark-grey
      .container
        .footer__column
          h5 About Us
          .red-highlight
          p Fastlane Karting is located in Fenton, Stoke on Trent, Staffordshire and within easy driving distance of Shropshire, Cheshire and Derbyshire in the East Midlands. We operate Sodi karts for corporate, group parties and arrive & drive sessions. We also have Cadet karts for juniors.
        .footer__column
          h5 Address
          .red-highlight
          ul 
            li.bold Fastlane Karting
            li 151 King Street
            li Stoke On Trent
            li Staffordshire
            li ST4 3ER
          a(href='/contact') Get Directions
        .footer__column.footer__column--contact
          h5 Contact
          .red-highlight
          a.bold(href='tel:+441782250450') 01782 250 450
          br
          a(href='mailto:enquiries@fastlanekarting.co.uk') enquiries@fastlanekarting.co.uk
          p Open 7 days 10:00am - 10:30pm
          .footer__social
            a(href='https://www.facebook.com/fastlanekartingindoor' target='_blank')
              img(src='/images/social-media/facebook.svg' alt='Facebook Icon')
            a(href='https://www.instagram.com/fastlanekarting_stoke/' target='_blank')
              img(src='/images/social-media/instagram.svg' alt='Instagram Icon')
        .footer__column
          h5 Terms and Conditions
          .red-highlight
          p Our terms and conditions can be read #[a(href='/terms-and-conditions') here.]