mixin footer
  footer.footer
    section.dark-grey
      .container
        .footer__column
          h5 About Us
          .red-highlight
          p Fastlane Karting is located in Fenton, Stoke on Trent, Staffordshire and within easy driving distance of Shropshire, Cheshire and Derbyshire in the East Midlands. We operate Biz karts for Corporate & Group Parties, and Sprint karts for our arrive & drive sessions. We also have Go-Karts for kids.
        .footer__column
          h5 Address
          .red-highlight
          ul 
            li.bold Fastlane Karting
            li 151 King Street
            li Stoke On Trent
            li Staffordshire
            li ST4 3ER
          a(href='/contact') Get Directions
        .footer__column.footer__column--contact
          h5 Contact
          .red-highlight
          a.bold(href='tel:+441782250450') 01782 250 450
          a(href='mailto:track@fastlanekarting.co.uk') track@fastlanekarting.co.uk
          p Open 7 days 10:00am - 10:30pm
          .footer__social
            a(href='https://www.facebook.com/fastlanekartingindoor' target='_blank')
              img(src='/images/social-media/facebook.svg' alt='Facebook Icon')
            a(href='https://www.instagram.com/fastlanekarting_stoke/' target='_blank')
              img(src='/images/social-media/instagram.svg' alt='Instagram Icon')
        .footer__column
          h5 Enquiry Form
          .red-highlight
          form(name='enquiry')
            label Your Name
            input(type='text' required)
            label Your Email
            input(type='email' required)
            label Message
            textarea(rows='6' required)
            button.button__primary(type='submit') Send