mixin navigation(currentPage = '/')
  -
    const navLinks = {
      "January Offers"       :'/offers',
      "Vouchers" :'https://fastlane.bookmykarting.co.uk/book/385/voucher.aspx',
      'Race Packages'       :'/race-packages',
      'Arrive & Drive'      :'/arrive-and-drive',
      'Juniors & Parties'   :'/juniors-and-parties',
      'Corporate Events'    :'/corporate-events',
      //- 'Live Timing'     :'/live-timing',
      //- 'Race History'    :'/race-history',
      'Register'            :'https://fastlane.reg.volarehq.com/',
      'Track Layout'        :'/layout',
      'Contact Us'          :'/contact',
    }  

  nav.nav__primary
    .container
      a(href='/')
        img.nav__logo(src='/images/logos/fast-lane-karting-logo-plain.svg' alt='Fast Lane Karting Logo')
      .nav__menu-toggle Menu
        .nav__menu-toggle-icon
          .nav__menu-toggle-icon-bar
          .nav__menu-toggle-icon-bar
          .nav__menu-toggle-icon-bar
      .nav__right
        .nav__right--contact
          a(href='tel:01782250450')
            h3 01782 250 450
          .nav__right--contact--opening-hours
            .nav__right--contact--opening-hours--light
              span Open Now
            span #[span.hide-mobile Open every day] 10:00am - 10:30pm
        a.button.nav__right--book-now(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx' target='_blank') Book Now

  nav.nav__secondary
    .container
      ul.nav__menu(aria-expanded="false")
        for url, title in navLinks
          - const target = title === 'Register' || title === 'Vouchers' ? '_blank' : '' 
          li(class=(currentPage == url ? 'active' : ''))
            a(href=url target=(target))= title