mixin newsletter
  section.newsletter
    .container
      h4 Sign up to receive the latest news, offers and discounts
      form(name='newsletter')
        input.no-margin(type='email' placeholder='Your email...' required)
        button.button__primary(type='submit') Sign Up