extends ../_partials/layout

block nav
  +navigation('/juniors-and-parties')

block title
  title Junior & Party Packages | Fast Lane Go Karting Stoke

block description
  meta(name="description" content="Our Kids' Party and Private Sessions offer the an exhilarating day out for all the family. Call 01782 250 450 or email track@fastlanekarting.co.uk to book a karting package. We're open from 10am until 10:30pm, 7 days a week.")

block content
  .sticker.sticker__summer 
    a(href='/offers') Summer Holiday Deals now active
  
  section.black.race-packages
    .container
      h1.center Juniors & Parties
      .red-highlight.centered
      p.center.race-packages__description #[span.bold.red PLEASE NOTE:] All drivers require a Balaclava and Gloves for hygiene reasons. Feel free to bring your own, or we can supply them for £2.50 per item.
      
    .container.race-packages__price-list
      .content-block
        h2 Kids' Birthday Parties
        .red-highlight
        p This is a private party package for up to 8 drivers aged 8 years and older.
        p.no-margin.bold Kids' Birthday Parties Include:
        ul.race-packages__price-list--includes
          li 45 minutes of track time in 3 x 15 minute sessions. All guests taking part in 2 sessions each with the birthday person having a special treat and taking part in all 3 sessions.
          li Pizza Buffet with Crisps and squash in the private corporate room 
          li Different Pizza Options to choose from
          li Orange/blackcurrant squash
          li Medal presentation plus a trophy for the birthday boy/girl
        ul.race-packages__price-list--packages
          li
            div
              h3 2 Hour Session with Food
              p 15 Minutes Pre-Session Preparation
              p 45 Minutes Driving Time
              p 1 Hour Food & Medals
            div
              span £350
              span up to 8 drivers
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?packagegroup=juniorpartypackage' target='_blank') Book Now

        p 11 driver, 16 driver, and 20 driver party packages also available.
              
      .content-block
        h2 1 Hour Practice / Family Session
        .red-highlight
        p Maximum of 6 x Juniors (8 - 11 yrs) or 10 x Adult (12yrs+). Age ranges can mix to make use of full 10 places.
        p Our 1 hour private hire session is perfect for parties and families looking for a great day or night out. This is a private party package for up to 10 drivers 8 years and older. Driving in our new Sodi Junior Racer and Adult SR4 200cc karts.
        p Includes printouts of lap times for all drivers. No food, trophies or medals are included but can they be purchased at extra cost.
        p Clock up those laps and see who can get the best lap time. 
        ul.race-packages__price-list--packages
          li
            div
              h3 1 Hour Private Hire
              p 25 Minute session
              p 10 Minute break to compare and discuss lap times, racing lines and that all important pit stop to the loo
              p 25 Minute Session
            div
              span £450
              span up to 10 drivers
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=privatehire1hour10drivers45000' target='_blank') Book Now
          li
            div
              h3 40 Minute Private Hire
              p As above but a slightly shorter 15 Minute session followed by a short 10 Minute break to compare and discuss lap times, racing lines before heading back out for another 15 minutes of karting. Clock up those laps and see who can get the best lap time. 
            div
              span £350
              span up to 10 drivers
              a.button.button__primary(href='https://fastlane.bookmykarting.co.uk/book/385/booking.aspx?package=privatehire40minutes10drivers35000' target='_blank') Book Now