extends ../_partials/layout

block pageScripts
  script
    include ../../../dist/js/fastestLap.js

block nav
  +navigation('/layout')

block title
  title Track Layout | Fast Lane Go Karting Stoke

block description
  meta(name="description" content="The best indoor go karting venue in Stoke-on-Trent for 25 years. High performance Sodi SR4 sprint karts, kids karts and on-site catering. Arrive & Drive today!")

block content
  section.black.track
    .container
      h1.center Track Layout
      .red-highlight.centered
      .race-packages__price-list
        .content-block
          h2 The Midlands' Best Karting Track
          .red-highlight
          p Experience the exhilarating rush of driving on the Midlands’ best karting circuit! The track has been completely overhauled and we now have a New Multi Level Circuit with super smooth ramps for a seamless transition between levels. We've kept it fast, flowing, and even thrown in a few little technical bits to test the skills of even the best drivers. Competition for the outright fastest lap will be fierce.
          p Adults get to drive our powerful 200cc Sodi SR4 karts for high-octane thrills and competition. For the younger drivers, our new Junior Racer karts are the perfect choice to hone their skills before progressing up to the adult category.
          p Our on-site kitchen provides food and drinks throughout the day, and our corporate lounge overlooking the track is perfect for parties looking for a VIP experience.
          p Think you’ve got what it takes to be the best? Have a go at our fastest lap and claim the top of the leaderboard for yourself!

          .red-strip All-time fastest lap
          .fastest-lap
            span.fastest-lap__lap-time -
            span.fastest-lap__name Loading...
          
        .track__image
          img(src='/images/track-layout/track-layout-2021.jpg')

      h2.center 3D Track Tour
      .red-highlight.centered
      iframe.track__matterport(src='https://my.360picture.uk/tour/fastlane-karting' height='600' width='100%' allowfullscreen)

      h2.center Onboard Video
      .red-highlight.centered
      video.track__onboard(src="/video/track-layout.mp4" poster="/video/track-layout-poster.jpg" controls)
